{% extends "pickem_app/layout.html" %}

{% block content %}
	{% if weeks %}
		<nav id='weeks'>
			{% for w in weeks %}
				<a href="{% url 'pickem_app:pickset' view_user.username w %}">{{ w }}</a>
			{% endfor %}
		</nav>
	{% else %}
		<p>Error - template received no weeks.</p>
	{% endif %}
	
	{% if games %}
		
		<p class="large">Attempts: {{ pickset.attempts }}<br>
		Score: {{ pickset.correct }}</p>
		
		<form name="pickForm" action="{% url 'pickem_app:api_pickset' pickset.id %}" method="post">
		{% csrf_token %}
		<table border="1" cellpadding='5' class="center">
			{% for g in games %}
				<tr>
					<td class='gray smaller'>{{ g.short_date }}, {{ g.time }}</td>
					<td>
						<span class='gray smaller'>{{ g.away_team.return_record }}</span>
						<span class="{% ifequal g.winner g.away_team %}bold{% endifequal %}">
							{{ g.away_team.location }} {{ g.away_team.nickname }}
						</span><span class="gray smaller">@</span>
						<hr>
						<span class='gray smaller'>{{ g.home_team.return_record }}</span>
						<span class="{% ifequal g.winner g.home_team %}bold{% endifequal %}">
							{{ g.home_team.location }} {{ g.home_team.nickname }}
							(<span class="gameSpread">{{ g.spread }}</span>)
						</span>
					</td>
					<td>
						<input type="checkbox" name="game{{ g.id }}" value="{{ AWAY }}"
						  {% if g.status == OTHER_UNAVAILABLE or g.status == IN_PROGRESS or g.status == COMPLETE or editable == False %}
						  	disabled
						  {% endif %}><hr>
						<input type="checkbox" name="game{{ g.id }}" value="{{ HOME }}"
						  {% if g.status == OTHER_UNAVAILABLE or g.status == IN_PROGRESS or g.status == COMPLETE or editable == False %}
						  	disabled
						  {% endif %}>
					</td>
					<td>
						{{ g.status }}
					</td>
				</tr>
			{% endfor %}
		</table>
			{% if editable == True %}
				<p><input type="submit" value="Submit Picks"></p>
			{% endif %}
		</form>
	{% endif %}
	
{% endblock content %}

{% block script %}
<script>

// select the picks that are already saved to this pickset
{% if pickset %}
	// select the picks that have already been made for this pickset if pickset passed to template from view
	
	pickset = [];
	// set up pickset as array of pick objects using pickset list received from view
	{% for pick in pickset.picks.all %}
		var p = new pick({{ pickset.id }}, {{ pick.game.id }}, '{{ pick.pick }}', '{{ pick.abbreviation }}', '{{ pick.is_correct }}');
		pickset.push(p);
	{% endfor %}
{% endif %}

for (var p in pickset) {
	selectPick(pickset[p].gameId, pickset[p].pick);
}



// format the spreads (add a '+' in front of a road favorite spread and other tweaks)
formatSpreads();
// indicate the current week and selected week in the week nav bar
highlightCurrentAndSelectedWeek();



function getChecks() {
	var inputs = document.getElementsByTagName('input');
	var checks = [];
	
	for (var i = 0; i < inputs.length; i++){
		if (inputs[i].type === 'checkbox') {
			checks.push(inputs[i]);
		}
	}
	
	return checks;
}

function getCheckGroup(check) {
	var checks = getChecks();
	var checkGroup = [];
	
	for (var c = 0; c < checks.length; c++) {
		if (checks[c].name === check.name) {
			checkGroup.push(checks[c]);
		}
	}
	
	return checkGroup;
}

function getOtherChecksInGroup(check, checkGroup) {
	var otherChecksInGroup = [];
	
	for (var c = 0; c < checkGroup.length; c++) {
		if (checkGroup[c] !== check) {
			otherChecksInGroup.push(checkGroup[c]);
		}
	}
	
	return otherChecksInGroup;
}

onload = function() {
	var checks = getChecks();
	for (var c = 0; c < checks.length; c++) {
		checks[c].onclick = checkClick;
	}
}

function checkClick(e) {
	var checkGroup = getCheckGroup(this);
	var otherChecksInGroup = getOtherChecksInGroup(this, checkGroup);
	
	for (var c = 0; c < otherChecksInGroup.length; c++) {
		otherChecksInGroup[c].checked = false;
	}
}

</script>
{% endblock script %}