{% extends "accounts_app/layout.html" %}

{% block style %}
	<style>
		label {
			width:150px;
		}
	</style>
{% endblock style %}

{% block nav %}
	<a href="{% url 'accounts_app:register' %}">Register</a>
{% endblock nav %}

{% block page_title %}
	<h2>Login</h2>
{% endblock page_title %}

{% block content %}

{% for error in form.non_field_errors %}
	<p class='red bold'>{{ error }}</p>
{% endfor %}

<form id='loginForm' method="post" action="{% url 'accounts_app:login' %}">
	
	{% csrf_token %}
	
	<p>
		{% for error in form.username.errors %}
			<p class='red bold'>{{ error }}</p>
		{% endfor %}
		<label for='id_username'>Username:</label>
		{{ form.username }}
	</p>
	
	<p>
		{% for error in form.password.errors %}
			<p class='red bold'>{{ error }}</p>
		{% endfor %}
		<label for='id_password'>Password:</label>
		{{ form.password }}
	</p>
	
	<input type="hidden" name="next" value="{{next}}">
	
	<p>
		<label/><input type="submit" value="Login">
	</p>
	
</form>

{% endblock content %}

{% block script %}
<script>
	function main() {
		document.getElementById('id_username').select();
	}
</script>
{% endblock script %}